<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'course/style.css' %}">
  <title>GaME</title>
</head>
<body>
	<!-- hello -->
  <!-- <main> -->
    <center>
    <div id="imgcontainer" class="imgcontainer">
		    <img src="{% static 'course/images/base4.png' %}" alt="GaME image" class="game">
  	</div>
	<form method="POST">
    	{% csrf_token %}
	  	<b>Username:</b>&emsp;
        <input id="username" type="text" name="username" placeholder = "Enter username..." required>
	    <br>
	    <b>Password: </b>&emsp;
	    <input id="password" type="password" name="password" placeholder = "Enter password..." required>
	    <br>
	  	<button name="gen_button" class="button" type="submit">Login</button>
	</form>
	</center>
  <!-- </main> -->
</body>
</html>

<!-- {% block title %}{% endblock %} -->

<!-- {% block content %} -->

<!-- {% endblock %}