<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}GaME{% endblock %}</title>
</head>
<body>
  <main>
    {% block content %}
	Welcome, {{ user.username }}!
	{% if attempt_list %}
		<p>These are the attempts in this question</p>
		<ul>
			{% for attempt in attempt_list %}
				<li>
					<a href="/game/attempts_ta/{{ attempt.id }}">Question {{ attempt.question.qn_number }} ; Student: {{ attempt.student.id }}({{ attempt.student.username }}) ; Graded: {{ attempt.attempt_graded }}</a>
				</li>			
			{% endfor %}
		</ul>
	{% endif%}
	{% if not is_prof %}
		{% if not attempt_list %}
		    <p>Nothing interesting to show here.</p>
		{% endif %}
	{% endif %}
	{% endblock %}
	<a href="{% url 'logout' %}"> logout! </a>
  </main>
</body>
</html>
