<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}GaME{% endblock %}</title>
</head>
<body>
  <main>
    {% block content %}
    Welcome, {{ user.username }}!
	{% if course_list %}
	    <ul>
	    {% for course in course_list %}
			<li><a href="/game/{{ course.course_id }}/exams">{{ course.course_id }}</a>
				{{course.semester}} {{course.year}} 
			</li>
	        <!-- <li>{{course.course_id}} -->
	        	<!-- {{course.semester}} {{course.year}} -->
	        <!-- </li> -->
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No courses are available.</p>
	{% endif %}
	{% endblock %}
	<a href="{% url 'logout' %}"> logout! </a>
  </main>
</body>
</html>
