<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GaME</title>
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'course/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        var fade_out = function () {
            document.getElementById("alertmsg").innerHTML = "";
        }
        var ajax_data = null;
        var globfd = 1;
        var globfo = 0;
        function chkclk(exam_id){
            var chkbox_stat = document.getElementById('chkboxx' + exam_id).checked;
            console.log('chkbox_stat = ' + chkbox_stat);
            $.ajax({
                url: "{% url 'tog_ex_vis' %}",
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', 
                    'visible':chkbox_stat, 
                    'ex_id': exam_id, 
                },
                type: 'post',
                dataType: 'json',
                async: true,
                success: function (data) {
                    ajax_data = data;
                    console.log("ajax returned. data = " + data);
                }
            });
        }
        function upload_file(ex_id) {
            // var fd = $(this);
            var fo = document.getElementById("form" + ex_id);
            var fd = new FormData(fo);
            globfo = fo;
            globfd = fd;
            // fd.append(csrfmiddlewaretoken: "{{ csrf_token }}");
            // fd = JSON.stringify(fd);
            fd.append('ex_id', ex_id);
            var am = "";
            $.ajax({
                url: "{% url 'upload_file' %}",
                type: 'POST',
                data: fd,
                success: function (data) {
                    console.log("ajax returned. data = " + data);
                    am = "file uploaded successfully";
                    // alert(am);
                    document.getElementById('alertmsg').innerHTML = "<p>" + am + "</p>";
                    setTimeout(fade_out, 5000);
                },
                error: function(data){
                    console.log("in error:"),
                    am = "file upload failed";
                    // alert(am);
                    document.getElementById('alertmsg').innerHTML = "<p>" + am + "</p>";
                    setTimeout(fade_out, 5000);
                },
                cache: false,
                contentType: false,
                processData: false
            });
        }
  </script>
</head>
<body>
  <main>
        <ul class="navbr">
            <li class="navli"><a href="{% url 'course_list' %}">Home</a></li>
            <li class="navli"><a href="{% url 'course_list' %}">Back</a></li>
            <li class="navli"><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
		<br><br>
      <div id="alertmsg"></div>
    
    <p name = "username" >Welcome, <font class = "username">{{ user.username }}</font></p>
    {% if instructor %}
        <p name = "role" >Role: <font class = "role">Instructor</font></p>
        
    {% endif%}
    {% if assistant%}
        <p name = "role" >Role: <font class = "role">Teaching Assistant</font></p>
     
    {% endif %}
    {% if student%}
        <p name = "role" >Role: <font class = "role">Student</font></p>
    {% endif %}

    {% if course %}
        <p name = "course" >{{course.course_id}}
            <font class = "sem2">{{course.semester}} {{course.year}}</font>
        </p>
    {% endif %}

    {%if exams%}
        <center><table>
            <tr>
                <th name = "exam_list">
                    Exam_Name
                </th>
                <th name = "exam_list">
                    Weightage
                </th>
                {% if instructor %}
                    <th name = "exam_list">
                        Visible to students
                    </th>
                    <th name = "exam_list">
                    Delete Exam
                    </th>
                    <th name="exam_list">
                        Upload Papers
                    </th>
                    <!-- <th name="exam_list">
                        Create Excel Sheet
                    </th> -->
                {%else%}
                    <th name = "exam_list">
                        Grading Status
                    </th>
                {% endif %}   
            </tr>
            {% for exam in exams %}
                <tr>
                    <td name = "exam_list">
                        <a name = "course_id" href="/game/qn/{{ exam.id }}/">{{exam.exam_name}}</a>
                    </td>
                    <td name = "exam_list">
                        {{exam.weightage}}
                    </td>
                    
                    {% if instructor %}
                        <td name = "exam_list">
                            <form id="chkbox{{ exam.id }}">
                                {% csrf_token %}
                                {% if exam.exam_graded is True %}
                                <input type="checkbox" id="chkboxx{{ exam.id }}" onclick="chkclk({{ exam.id }})" checked>
                                {% else %}
                                <input type="checkbox" id="chkboxx{{ exam.id }}" onclick="chkclk({{ exam.id }})">
                                {% endif %}
                            </form>
                        </td>
                        <td name = "exam_list">
                            <form method="POST" action="{% url 'del_exam' exam.id %}">
                                {% csrf_token %}
                                <button name = "del_button" type="submit" align= "right">Delete</button>
                            </form>
                        </td>
                        <td>
                            <form method="POST" id="form{{ exam.id }}" name="formnaam" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="myfile" id="file{{ exam.id }}">
                            </form>
                            <button name="fubtn" onclick="upload_file({{ exam.id }})">Upload</button>
                        </td>
                        <!-- <td>
                            <form method="POST" id="form{{ exam.id }}" name="formnaam" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="myfile" id="file{{ exam.id }}">
                            </form>
                            <button name="fubtn" onclick="upload_file({{ exam.id }})">Upload</button>
                        </td> -->
                    {%else%}
                        <td name = "exam_list">
                            {%if exam.exam_graded%}
                                Graded
                            {%else%}
                                Not Graded
                            {%endif%}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        </center> 

    {%else%}
            <p name="noexam">No exams to display!!</p>
    {%endif%}
    {% if instructor %}
    <!-- <p>You can add a new exam here:</p> -->
    <center>
        <form method="POST" action="{% url 'add_exam_view' ciid %}">
            {% csrf_token %}
            <input type="text" class = "exam" name="ex_name" id="ex_nameid" placeholder="Exam name" required>
            <input type="text" class = "exam" name="ex_wt" id="ex_wtid" placeholder="Weightage" required>
            <button name = "gen_button" type="submit">Create Exam</button>
        </form>
    </center>
    {% endif%}
  </main>
</body>
</html>
