<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}GaME{% endblock %}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        function chkclk(exam_id){
            var chkbox_stat = document.getElementById('chkboxx' + exam_id).checked;
            console.log('chkbox_stat = ' + chkbox_stat);
            $.ajax({
                url: "{% url 'tog_ex_vis' %}",
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', 
                    visible:chkbox_stat, 
                    ex_id: exam_id, 
                },
                type: 'post',
                dataType: 'json',
                async: true,
                success: function (data) {
                    console.log("ajax returned. data = " + data);
                }
            });
        }
  </script>
</head>
<body>
  <main>
    {% block content %}
    Welcome, {{ user.username }}!
    {% if instructor %}
        You are instructor for this course.
        <p>You can add a new exam here:</p>
        <form method="POST" action="{% url 'add_exam_view' ciid %}">
            {% csrf_token %}
            <input type="text" name="ex_name" id="ex_nameid", placeholder="Exam name">
            <input type="text" name="ex_wt" id="ex_wtid", placeholder="Weightage">
            <button type="submit">Create new exam</button>
        </form>
    {% endif%}
    {%if exams%}
        {% if assistant%}
            You are Teaching Assistant for this course.
         
        {% endif %}
        {% if student%}
            You are Student for this course.
     
        {% endif %}

        <ul>
                {% for exam in exams %}
                    <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
                    <li><a href="/game/qn/{{ exam.id }}/">{{exam.exam_name}}</a>
                        {{exam.weightage}}
                        {% if instructor %}
                            <form method="POST" action="{% url 'del_exam' exam.id %}">
                                {% csrf_token %}
                                <button type="submit" align="right">Delete exam</button>
                            </form>
                            <form id="chkbox{{ exam.id }}">
                                {% csrf_token %}
                                Visible to students
                                {% if exam.exam_graded is True %}
                                <input type="checkbox" id="chkboxx{{ exam.id }}" onclick="chkclk({{ exam.id }})" checked>
                                {% else %}
                                <input type="checkbox" id="chkboxx{{ exam.id }}" onclick="chkclk({{ exam.id }})">
                                {% endif %}
                            </form>
                            <!-- <input type="hidden" value="{{ exam.id }}" id="examid{{ exam.id }}"> -->
                        {% endif %}
                    </li>
        
                {% endfor %}
            </ul>  

    {%else%}
            No exams!!
    {%endif%}
    
	{% endblock %}
	<a href="{% url 'logout' %}"> logout! </a>
  </main>
</body>
</html>
