<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}GaME{% endblock %}</title>
</head>
<body>
  <main>
    {% block content %}
    Welcome to course {{course_id}}!!
    <!-- , {{ user.username }}! -->
	{% if exam_list %}
	    <ul>
	    {% for exam in exam_list %}
	        <!-- <li><a href="/{{ course.course_id }}/exams">{{ course.course_id }}</a> -->
	        <!-- </li> -->
	        <li>{{exam}}
	        	<!-- <p align="right">{{course.semester}} {{course.year}}</p> -->
	        </li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No exams are available.</p>
	{% endif %}
	{% endblock %}
	<a href="{% url 'logout' %}"> logout! </a>
  </main>
</body>
</html>
