<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GaME</title>
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'course/style.css' %}">
</head>
<body>
  <main>
    
	<p name = "username" >Welcome, <font class = "username">{{ user.username }}</font></p>
    {% if role == 'prof' %}
        <p name = "role" >Role: <font class = "role">Instructor</font></p>
        
    {% endif%}
    {% if role == 'ta'%}
        <p name = "role" >Role: <font class = "role">Teaching Assistant</font></p>
     
    {% endif %}
    {% if role == 'student'%}
        <p name = "role" >Role: <font class = "role">Student</font></p>
    {% endif %}

    {% if exam %}
        <p name = "sem2">{{exam.instance.course_id}} {{exam.instance.semester}} {{exam.instance.year}}
        </p>
    {% endif %}

    <p name = "quiz">{{exam.exam_name}} &emsp; Weightage: {{exam.weightage}} %</p>
    <p name = "quiz">Total Questions: {{num_ques}} &emsp; Full Marks: 
    	{%if tot_marks%}
    		{{tot_marks}}
    	{%else%}
    		0
    	{%endif%}
	</p>
	<!-- <p>The weightage of this exam is {{ exam.weightage }}.</p> -->
	{% if role == 'prof' %}
		<!-- <p>Modify the weightage here</p> -->
		<center>
		<form method="POST" action="{% url 'weightage_update_view' exam.id %}">
			{% csrf_token %}
			<input class = "wtage" type="text" name="weightage" id="wtage" placeholder="Enter Exam Weightage"  required>
			<button name = "wt_button" type="submit">Update weightage</button>
		</form>
		<!-- </center> -->
		<!-- <p>Insert a new question here</p> -->
		<!-- <center> -->
		<!-- <p>This exam has the following questions:</p> -->
	    <!-- <ul> -->
    	<table>
            <tr>
                <th name = "exam_list">
                    Question Number
                </th>
                <th name = "exam_list">
                    Full Marks
                </th>
                <th name = "exam_list">
                    Delete Question
                </th>    
            </tr>
		{% for qn in qn_list %}
			<tr>
				<td name = "exam_list">
					<a href="/game/exams/{{ exam.id }}/qn/{{ qn.0 }}">{{ qn.0 }}</a>
				</td>

				<td name = "exam_list">
					{{ qn.1 }}
				</td>

				<td name = "exam_list">
					Delete button
				</td>
			</tr>

	        <!-- <li><a href="/game/exams/{{ exam.id }}/qn/{{ qn.0 }}">Question number:{{ qn.0 }}; Full marks: {{ qn.1 }}</a></li> -->
	        <!-- <li><a href="/game/{{ qn.course_id }}/exams">{{ course.course_id }}</a></li> -->
	    {% endfor %}
		</table>
		<form method="POST" action="{% url 'add_qn_view' exam.id %}">
			{% csrf_token %}
			<input class = "wtage" type="text" name="qn_id" id="qn_id_id" placeholder="Question Number" required>
			<input class = "wtage" type="text" name="tot_marks" id="tot_marks_id" placeholder="Full Marks" required>
			<button name = "wt_button" type="submit">Create new question</button>
		</form>
		<!-- </ul> -->
		<br>
		</center>
	{% endif %}
	{% if attempt_list %}
		<p>These are the attempts in this exam</p>
		<ul>
			{% for attempt in attempt_list %}

				{% if role == 'ta'%}
					<li><a href="/game/attempts_ta/{{ attempt.id }}">Question {{ attempt.question_qn_number }} ; Student: {{ attempt.student.id }}({{ attempt.student.username }}); Graded: {{ attempt.attempt_graded }}</a></li>
				{% elif role == 'student'%}
					<li><a href="/game/attempts_stud/{{ attempt.id }}">Question {{ attempt.question_qn_number }} ; Student: {{ attempt.student.id }}({{ attempt.student.username }}) ; Graded: {{ attempt.attempt_graded }}</a></li>
				{% else %}
					<li><a href="/game/attempts/{{ attempt.id }}">Question {{ attempt.question_qn_number }} ; Student: {{ attempt.student.id }}({{ attempt.student.username }}) ; Graded: {{ attempt.attempt_graded }}</a></li>
				{% endif %}
				<!-- <li><a href="/game/{{ qn.course_id }}/exams">{{ course.course_id }}</a></li> -->
			
			{% endfor %}
		</ul>
	{% endif%}
	{% if not is_prof %}
		{% if not attempt_list %}
		    <p>Nothing interesting to show here.</p>
		{% endif %}
	{% endif %}
	
	<div class = "logout">
		<a name = "logout" href="{% url 'logout' %}"> logout! </a>
	</div>
  </main>
</body>
</html>
