<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GaME</title>
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'course/style.css' %}">
  	<style>
			.multiselect {
			width: 20%;
			{% comment %} width: 200px; {% endcomment %}
		}

		.selectBox {
			position: relative;
		}

		.selectBox select {
			width: 100%;
			font-weight: bold;
		}

		.overSelect {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}

		#checkboxes_ {
			display: none;
			border: 1px #dadada solid;
		}

		div[id="checkboxes_"] label {
			display: block;
		}

		#checkboxes label:hover {
			background-color: #1e90ff;
		}
	</style>
 <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script>
		var ta_lista = JSON.parse(escaper("{{ta_list}}"))
		{% comment %} var ta_list =[] {% endcomment %}
	  function set_do_grade(qn_id){
		  document.getElementById("dg"+qn_id).value = "1"
	  }
	  function reset_do_grade(qn_id){
		  document.getElementById("dg"+qn_id).value = "0"
	  }
		function escaper(argg){
			// console.log("arggg" + argg)
			var ret =  argg.replace(/&(l|g|quo)t;/g, function (a, b) {
				return {
					l: '<',
					g: '>',
					quo: '"'
				}[b];
			});
			// console.log("rettt" + ret);
			return ret;
		}
		function getSelectedOptions(qn_id)
		{
			var sdValues =[];
		 for(var i = 0, size = ta_lista.length; i < size ; i++){
					var item = ta_lista[i];
					{% comment %} console.log(item['fields']['assistant']);								 {% endcomment %}
					if (document.getElementById(qn_id+item['fields']['assistant']).checked)
					{
							sdValues.push(item['fields']['assistant']);
							{% comment %} console.log('The checkbox is checked'); {% endcomment %}
					}else
					{
							{% comment %} console.log('The checkbox is not checked'); {% endcomment %}
					}
				} 

			return sdValues;
		}
		function last_submit(qn_id){
					var ta_lists_= getSelectedOptions(qn_id);
					var ta_lists = JSON.stringify(ta_lists_);
					var prof= "0";
					if (document.getElementById(qn_id+'prof').checked){
						prof = "1";
					}
					console.log(ta_lists_);
					console.log(ta_lists);
					$.ajax({
						url: "{% url 'qn_adm_view' %}",
						data: { csrfmiddlewaretoken: '{{ csrf_token }}', 
							"ta_lists": ta_lists,
							"do_grade": document.getElementById("dg"+qn_id).value,
							"qn_id": qn_id,
							"prof": prof
						},
						type: 'post',
						dataType: 'json',
						async: true,
						success: function (data) {
							console.log(data);
						}
					});
		}
			var expanded = false;
		function showCheckboxes(qn_id) {
				var checkboxes = document.getElementById("checkboxes"+qn_id);
				if (!expanded) {
					checkboxes.style.display = "block";
					expanded = true;
				} else {
					checkboxes.style.display = "none";
					expanded = false;
				}
		}
		function set_do_grade(qn_id){
		  document.getElementById("dg"+qn_id).value = "1";
			last_submit(qn_id);
	  }
	  function reset_do_grade(qn_id){
		  document.getElementById("dg"+qn_id).value = "0"
				last_submit(qn_id);
			last_submit(qn_id);
	  }
		function multiple_do_grade(qn_id){
		  		document.getElementById("dg"+qn_id).value = "2";
					last_submit(qn_id);
	  }
	  
  </script>
</head>
<body>
	<ul class="navbr">
		<li class="navli"><a href="{% url 'course_list' %}">Home</a></li>
		<li class="navli"><a href="{% url 'exam_list' ciid %}">Back</a></li>
		<li class="navli"><a href="{% url 'logout' %}">Logout</a></li>
	</ul>
		<br><br>
  <main>
    {% if role %}
	<p name = "username" >Welcome, <font class = "username">{{ user.username }}</font></p>
    {% if role == 'prof' %}
        <p name = "role" >Role: <font class = "role">Instructor</font></p>
        
    {% endif%}
    {% if role == 'ta'%}
        <p name = "role" >Role: <font class = "role">Teaching Assistant</font></p>
     
    {% endif %}
    {% if role == 'student'%}
        <p name = "role" >Role: <font class = "role">Student</font></p>
    {% endif %}

    {% if exam %}
        <p name = "sem2">{{exam.instance.course_id}} {{exam.instance.semester}} {{exam.instance.year}}
        </p>
    {% endif %}

    <p name = "quiz">{{exam.exam_name}} &emsp; Weightage: {{exam.weightage}} %</p>
    <p name = "quiz">Total Questions: {{num_ques}} &emsp; Full Marks: 
    	{%if tot_marks%}
    		{{tot_marks}}
    	{%else%}
    		0
    	{%endif%}
	</p>
	<!-- <p>The weightage of this exam is {{ exam.weightage }}.</p> -->
	{% if role == 'prof' %}
		<!-- <p>Modify the weightage here</p> -->
		<center>
		<form method="POST" action="{% url 'weightage_update_view' exam.id %}">
			{% csrf_token %}
			<input class = "wtage" type="text" name="weightage" id="wtage" placeholder="Enter Exam Weightage"  required>
			<button name = "wt_button" type="submit">Update weightage</button>
		</form>
	</center>
	{%endif%}
		<!-- </center> -->
		<!-- <p>Insert a new question here</p> -->
		<!-- <center> -->
		<!-- <p>This exam has the following questions:</p> -->
	    <!-- <ul> -->
		{% if role != 'student' %}
		{% if question_list %}
		<center>
    	<table>
            <tr>
                <th name = "exam_list">
                    Question Number
                </th>
                <th name = "exam_list">
                    Full Marks
                </th>
                {%if role == 'prof'%}
                <th name = "exam_list">
                    Delete Question
                </th>
                <th name = "exam_list">
                    Distribute
                </th> 
                {%endif%}
            </tr>
		{% for qn in question_list %}
			<tr>
				<td name = "exam_list">
					<a href="{% url 'attempt_list' qn.id %}">{{ qn.qn_number }}</a>
					<!-- <a href="/game/attempt_list/{{ qn.id }}">{{ qn.qn_number }}</a> -->
				</td>

				<td name = "exam_list">
					{{ qn.full_marks }}
				</td>
				{%if role == 'prof'%}
				<td name = "exam_list">
					<form method="POST" action="{% url 'del_qn' qn.id %}">
						{% csrf_token %}
						<button name="del_button" type="submit" align="right">Delete</button>
					</form>
				</td>
				<td>
					{% comment %} <form method="POST" action="{% url 'qn_adm_view' qn.id %}">
						{% csrf_token %}
						{% if num_graded > 0 %}
						<p>Some papers have been graded, you are advised not to distribute the papers amongst TAs</p>
						{% endif %}
						<input type="hidden" value="0" name="do_grade" id="dg{{qn.id}}">
						<button type="submit" onclick="set_do_grade('{{qn.id}}')">
							Distribute among all
						</button>
						<button type="submit" onclick="reset_do_grade('{{qn.id}}')">Distribute among TAs</button>
					</form> {% endcomment %}
					 					<form>
						{% if num_graded > 0 %}
						<p>Some papers have been graded, you are advised not to distribute the papers amongst TAs</p>
						{% endif %}
						<input type="hidden" value="0" name="do_grade" id="dg{{qn.id}}">
						<input type="hidden"  name="ta_list" id="ta_list{{qn.id}}">
						<button type="submit" onclick="set_do_grade('{{qn.id}}')">
							Distribute among all
						</button>
						<button type="submit" onclick="reset_do_grade('{{qn.id}}')">Distribute among TAs</button>

						<div class="multiselect">
							<div class="selectBox" onclick="showCheckboxes('{{qn.id}}')">
								<select>
									<option>Select TAs</option>
								</select>
								<div class="overSelect"></div>
							</div>

							 
							<div id="checkboxes{{qn.id}}">
							<label for="profs">
									<input type="checkbox" id="{{qn.id}}prof" />Me</label>
									<br>
							 {% for ta in ta_list_py %}
								 <label for="one">							 			
								 {% comment %} <label for={{ ta.assistant_id}}>							 			 {% endcomment %}
										<input type="checkbox" id="{{qn.id}}{{ ta.assistant_id}}" />{{ ta.assistant}}</label>
										{% comment %} <br> {% endcomment %}
								{% endfor %} 

							</div>
						</div>
						<button type="submit" onclick="multiple_do_grade('{{qn.id}}')">Distribute Papers Non-uniformly</button>
					</form>
				</td>
				{%endif%}
			</tr>

	        <!-- <li><a href="/game/exams/{{ exam.id }}/qn/{{ qn.0 }}">Question number:{{ qn.0 }}; Full marks: {{ qn.1 }}</a></li> -->
	        <!-- <li><a href="/game/{{ qn.course_id }}/exams">{{ course.course_id }}</a></li> -->
	    {% endfor %}
		</table>
		</center>

		{%else%}
			<p>No questions have been added yet!</p>
		{%endif%}

		{%endif%}


		{% if role == 'prof' %}
		<center>
		<form method="POST" action="{% url 'add_qn_view' exam.id %}">
			{% csrf_token %}
			<input class = "wtage" type="text" name="qn_id" id="qn_id_id" placeholder="Question Number" required>
			<input class = "wtage" type="text" name="tot_marks" id="tot_marks_id" placeholder="Full Marks" required>
			<button name = "wt_button" type="submit">Create new question</button>
		</form>
		</center>
		{%endif%}
	{% if role == 'student'%}
	{% if attempt_list %}
		<center>
    	<table>
            <tr>
                <th name = "exam_list">
                    Question Number
                </th>
                <th name = "exam_list">
                    Full Marks
                </th>
                <th name = "exam_list">
                    Grading Status
                </th>
            </tr>
		{% for attempt in attempt_list %}
			<tr>
				<td name = "exam_list">
					<a href="/game/attempts_stud/{{ attempt.id }}">{{ attempt.question.qn_number }}</a>
				</td>

				<td name = "exam_list">
					{{ attempt.question.full_marks }}
				</td>
				<td name = "exam_list">
					{% if attempt.attempt_graded %}
						Graded
					{% else %}
						Not Graded
					{%endif%}
				</td>
			</tr>

	    {% endfor %}
		</table>
		</center>
	{%else%}
		<p>No attempts for this exam!</p>
	{% endif %}

	{% endif %}

	{%else%}
		<p>Not graded yet! If you think this is an issue contact the professor.</p>
	{%endif%}
  </main>
</body>
</html>
