<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GaME</title>
</head>
<body>
  <main>
    
    <p name = "username" >Welcome, <font class = "username">{{ user.username }}</font></p>
	{% if attempt.attempt_graded %}
	    <p>Your marks is {{ attempt.Marks }}
        in {{attempt.pdf}}
        </p>
	{% else %}
	    <p>
        {{attempt.pdf}} 
        Not graded yet</p>
	{% endif %}
	<div class = "logout">
    <a name = "logout" href="{% url 'logout' %}"> logout! </a>
  </div>
  </main>
</body>
</html>
