<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}GaME{% endblock %}</title>
  {%load static%}
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'course/style.css' %}">
<script>
	document.onkeydown = checkKey;
	function checkKey(e) {
		e = e || window.event;
		if (e.keyCode == '37') {
			// left arrow
			bak();
		}
		else if (e.keyCode == '39') {
			// right arrow
				fwd();
			}
		}
		var decode = function(str) {
			return str.replace(/&#(\d+);/g, function (match, dec) {
					return String.fromCharCode(dec);
				});
			}
			function escaper(argg){
			// console.log("argg"+argg)
			var res3 = decode(argg);
			var ret =  res3.replace(/&(l|g|quo)t;/g, function (a, b) {
				return {
					l: '<',
					g: '>',
					quo: '"'
				}[b];
			}).replace(/'/g, '"').replace(/\\/g, '\\\\');
			// console.log("ret" + ret);
			return ret;
		}
		var ajax_ret_val = null;
		var num_grd = {{ num_grd }};
		var num_ungrd = {{ num_ungrd }};
		var index_g = {{ index_g }};
		var index_ug = {{ index_ug }};
		var active_list = {{ active }}; // 1 is g
		var ungrd_attraw = JSON.parse(escaper("{{ungrd_att}}"));
		var grd_attraw = JSON.parse(escaper("{{grd_att}}"));
		var stud_names = JSON.parse(escaper("{{sname_list}}"));
		var ungrd_attv = {};
		var grd_attv = {};
		var stud_names_index = {};
		var msgs_raw = {};
		var msgs_val = {};
		var num_msgs = 0;
		var fetch_msgs = function(){
			var attempt_id = null;
			var stud_id = null;
			if (active_list == 1){
				attempt_id = grd_attv[index_g]['attempt_id'];
				stud_id = grd_attv[index_g]['student'];
			}
			else{
				attempt_id = ungrd_attv[index_ug]['attempt_id'];
				stud_id = ungrd_attv[index_ug]['student'];
			}
			$.ajax({
                url: "{% url 'get_msgs' %}",
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                    'attempt_id': attempt_id, 
                },
                type: 'post',
                dataType: 'json',
                async: true,
                success: function (data) {
                    ajax_data = data;
                    msgs_raw = JSON.parse(escaper(data['msgs']));
                    // stud_raw = JSON.parse(escaper(data['student']));
                    var cnt = 0;
                    msgs_val = {};
                    for (var v in msgs_raw) {
                    	msgs_val[cnt] = msgs_raw[v]['fields'];
                    	cnt += 1;
                    }
                    num_msgs = cnt;
                    // stud_val = {};
                    // cnt = 0;
                    	// stud_val = stud_raw['fields'];
                    // for (var v in stud_raw) {
                    // 	cnt += 1;
                    // }
                    document.getElementById('comments').innerHTML = "";
					for(v in msgs_val){
						if(msgs_val[v]['sender'] == {{user.id}}){
							document.getElementById('comments').innerHTML += "<p>" + msgs_val[v]['message']+":You</p>";
						}
						else{
							// document.getElementById('comments').innerHTML += "display student msg here";
							document.getElementById('comments').innerHTML += "<p>"+stud_names_index[stud_id]+":" + msgs_val[v]['message']+"</p>";
						}
						
					}
                    console.log("ajax returned. data = " + data);
                }
            });
		}
		var intervalID = setInterval(fetch_msgs, 1000);

		function filler(context){
			console.log("in filler $$$$$$$$$$$$$$$$$$$$$$$$")
			num_grd = context['num_grd'];
			num_ungrd = context['num_ungrd'];
			index_g = context['index_g'];
			index_ug = context['index_ug'];
			active_list = context['active'];
			ungrd_attraw = JSON.parse(escaper(context['ungrd_att']));
			grd_attraw = JSON.parse(escaper(context['grd_att']));
			stud_names = JSON.parse(escaper(context['sname_list']));
			console.log('context'+context)
			console.log("num_grd, num_ungrd, index_g, index_ug", num_grd + ", " + num_ungrd + ", " + index_g + ", " + index_ug)
			console.log('active_list' + active_list)
			if (active_list == 1) {
				document.getElementById('chkbox').checked = true;
			}
			else {
				document.getElementById('chkbox').checked = false;
			}
			after_filler();
		}
		function after_filler(){
			var cnt = 0;
			for (var v in ungrd_attraw) {
				ungrd_attv[cnt] = ungrd_attraw[v]['fields'];
				ungrd_attv[cnt]['attempt_id'] = ungrd_attraw[v]['pk'];
				cnt += 1;
			}
			cnt = 0;
			for (var v in grd_attraw) {
				grd_attv[cnt] = grd_attraw[v]['fields'];
				grd_attv[cnt]['attempt_id'] = grd_attraw[v]['pk'];
				cnt += 1;
			}
			for (var x in stud_names) {
				stud_names_index[stud_names[x][0]] = stud_names[x][1];
			}
			cnt = 0;
			for (var v in msgs_raw) {
				msgs_val[cnt] = msgs_raw[v]['fields'];
				// msgs_val[cnt][''] = msgs_raw[v]['pk'];
				cnt += 1;
			}
		}
		after_filler();
		console.log('grd_attv:'+grd_attv);
		console.log('ungrd_attv:'+ungrd_attv);
		console.log('grd_attraw:' + grd_attraw);
		console.log('ungrd_attraw:' + ungrd_attraw);
		$(document).ready(function(){
			// console.log("value", value)
			if (active_list == 1){
				document.getElementById('chkbox').checked = true;
			}
			else{
				document.getElementById('chkbox').checked = false;
			}
			
			$("form").submit(function (e) {
				e.preventDefault();
			});
			corefn();
		});
		function grade_toggle(){
			var chkbox_stat = document.getElementById('chkbox').checked;
			if (chkbox_stat){
				// active_list = 1;
				// corefn();
			}
			else{
				if (num_ungrd > 0){
					active_list = 0;
					corefn();
				}
				else{
					document.getElementById('chkbox').checked = 1;
					active_list = 1;
				}
			}
		}
		function corefn(){
			var pdff;
			var pgno;
			var stud_id;
			var num_pg;
			if (active_list == 1){
				pdff = grd_attv[index_g]['pdf'];
				pgno = grd_attv[index_g]['page_number'];
				stud_id = grd_attv[index_g]['student'];
				num_pg = grd_attv[index_g]['num_pages'];
			}
			else{
				pdff = ungrd_attv[index_ug]['pdf'];
				pgno = ungrd_attv[index_ug]['page_number'];
				stud_id = ungrd_attv[index_ug]['student']
				num_pg = ungrd_attv[index_ug]['num_pages'];
			}
			var chkbox_stat = document.getElementById('chkbox').checked;
			// console.log('active_list = '+active_list)
			// console.log('index_g:'+index_g+';\tindex_ug:'+index_ug)
			// console.log('ungrd_attv[index_ug]'+ ungrd_attv[index_ug])
			// console.log('grd_attv'+grd_attv)
			// console.log('ungrd_attv'+ungrd_attv)
			// console.log('page_no'+pgno)
			// console.log('pdff'+pdff);
			// console.log('chkbox_stat = ' + chkbox_stat);
			// console.log('url = ' + "{% url 'get_my_pdf' %}")
			$.ajax({
				url: "{% url 'get_my_pdf' %}",
				data: { csrfmiddlewaretoken: '{{ csrf_token }}', 
				"page_number":pgno, 
				"pdf_path": pdff, 
				"stud_id": stud_id,
				"num_pages": num_pg,
			},
			type: 'post',
			dataType: 'json',
			async: true,
			success: function (data) {
				ajax_ret_val = data;
				console.log(data)
				document.getElementById('stud_id_name').innerHTML = "<p>" + stud_names_index[stud_id] + "(" + stud_id + ")</p>";
				fetch_msgs();
				if (active_list == 1){
					document.getElementById('stud_marks').innerHTML = "<p> Marks obtained = " + grd_attv[index_g]['Marks'] + "</p>";
				}
				else{
					document.getElementById('stud_marks').innerHTML = "<p> Not checked </p>";
				}
				if (data['status'] == false) {
					document.getElementById("pdfdiv").innerHTML = "<p>File hasn't been uploaded yet</p>"
				}
				else{
					document.getElementById("pdfdiv").innerHTML = "<embed style=\"align-self: middle; margin-left:5%;margin-right:5 \" src=\"/static/" + data['url']+"\" type=\"application/pdf\" height=\"500px\" width=\"90%\" />";
				}
				console.log("ajax returned. data = " + data);
				}
			});
		}
		function fwd(){
			var chkbox_stat = document.getElementById('chkbox').checked;
			if (chkbox_stat == 0){
				index_ug = (index_ug + 1) % num_ungrd;
				corefn();
			}
			else{
				if (active_list == 0){
					if (index_ug <= num_ungrd - 1){
						index_ug = 0;
						index_g = 0;
						active_list = 1;
						if (num_grd == 0){
							active_list = 0;
						}
					}
					else{
						index_ug += 1;
						index_g = 0;
					}
				}
				else{
					if (index_g <= num_grd - 1){
						index_ug = 0;
						index_g = 0;
						active_list = 0;
						if (num_ungrd == 0){
							active_list = 1;
						}
					}
					else{
						index_g += 1;
						index_ug = 0;
					}
				}
				corefn();
			}
		}
		function bak(){
			var chkbox_stat = document.getElementById('chkbox').checked;
			if (chkbox_stat == 0){
				index_ug = ((index_ug - 1) % num_ungrd + num_ungrd) % num_ungrd;
				corefn();
			}
			else{
				if (active_list == 0){
					if (index_ug <= 0){
						index_ug = num_ungrd - 1;
						index_g = num_grd - 1;
						active_list = 1;
						if (num_grd == 0){
							active_list = 0;
						}
					}
					else{
						index_ug = ((index_ug - 1) % num_ungrd + num_ungrd) % num_ungrd;
						index_g = 0;
					}
				}
				else{
					if (index_g <= 0){
						index_ug = num_ungrd-1;
						index_g = num_grd - 1;
						active_list = 0;
						if (num_ungrd == 0){
							active_list = 1;
						}
					}
					else{
						index_g = ((index_g - 1) % num_grd + num_grd) % num_grd;
						index_ug = num_ungrd-1;
					}
				}
				corefn();
			}
		}
		function chkclk(exam_id){
			var chkbox_stat = document.getElementById('chkbox').checked;
		}
		function submit_marks(){
			var stud_id;
			var attempt_idd;
			if (active_list == 1) {
				stud_id = grd_attv[index_g]['student'];
				attempt_idd = grd_attv[index_g]['attempt_id'];
			}
			else {
				stud_id = ungrd_attv[index_ug]['student'];
				attempt_idd = ungrd_attv[index_ug]['attempt_id'];
			}
			$.ajax({
				url: "{% url 'ta_marks_update' %}",
				data: { csrfmiddlewaretoken: '{{ csrf_token }}', 
				"attempt_id": attempt_idd,
				"send_json": true,
				'grade_cond': true,
				"marks": document.getElementById('marks').value
			},
			type: 'post',
			dataType: 'json',
			async: true,
			success: function (data) {
				console.log(data);
				filler(data);
				corefn();
			}
		});
	}
	function send_msg(){
	      var stud_id;
	      var attempt_idd;
	      if (active_list == 1) {
	        stud_id = grd_attv[index_g]['student'];
	        attempt_idd = grd_attv[index_g]['attempt_id'];
	      }
	      else {
	        stud_id = ungrd_attv[index_ug]['student'];
	        attempt_idd = ungrd_attv[index_ug]['attempt_id'];
	      }
	      $.ajax({
	        url: "{% url 'send_msg' %}",
	        data: { csrfmiddlewaretoken: '{{ csrf_token }}', 
	          "attempt_id": attempt_idd,
	          "send_json": true,
	          'grade_cond': true,
	          "msg": document.getElementById('msg').value
	        },
	        type: 'post',
	        dataType: 'json',
	        async: true,
	        success: function (data) {
	          console.log(data);
	          filler(data);
	          corefn();
	        }
	      });
    	}
    // function set_graded(){
		//     document.getElementById("dg").value = "1";
		// }
		</script>
</head>

<body>
	<ul class="navbr">
		<li class="navli"><a href="{% url 'course_list' %}">Home</a></li>
		<li class="navli"><a href="{% url 'attempt_list' qn_id %}">Back</a></li>
		<li class="navli"><a href="{% url 'logout' %}">Logout</a></li>
	</ul>
		<br><br>
	<main>
	{% block content %}
	Welcome, {{ user.username }}!
	
	{% comment %} {% block body %} {% endcomment %}
	{% comment %}
	{% endcomment %}
	
	<form>
		{% csrf_token %}
		<p>Show Graded
			<input type="checkbox" id="chkbox" onclick="grade_toggle()"></p>
			<input type="text" id="marks" placeholder="Enter marks here">
			<button onclick="submit_marks()">Grade</button>
		</form>
		<button id="bakbtn" onclick="bak()">Back</button>
		<button id="fwdbtn" onclick="fwd()">Forward</button>
		<div id="studinfo">
			<div id="stud_id_name"></div>
		<div id="stud_marks"></div>
	</div>
	<div id="pdfdiv">
	</div>
	<div id="comments">
	</div>
		<textarea id="msg" name="msg" rows="4" cols="40"></textarea>
  <button name="gen_button" onclick="send_msg()">Add Comment/Reply</button>
	{% endblock %}
</main>
</body>
</html>
