body {
    background-image: url("images/background1.jpg");
    background-repeat: repeat;
    /*background-blend-mode: soft-light; */
    /*opacity: 0.5;*/
}
button:hover {
    opacity: 0.8;
}

a:hover{
    opacity: 0.7;
}



table{
    margin: 20px 20px 20px 20px;
    padding: 10px 10px;
    background-color: white;
    width: 60%;
}


td[class = course_list ] {
    display: block;
    font-size: 20px
    /*padding: 20px;*/
}

td[name = exam_list] {
    /*display: block;*/
    font-size: 20px;
    text-align:center;
    /*padding: 20px;*/
}

a[name = course_id]{
    font-size: 25px;
}

/*a[name = logout]{
    text-align: right;
    font-size: 20px;
}*/

.logout{
    text-align: right;
    font-size: 30px;
}

.sem{
    float: right;
    font-style: italic;
}

.sem2{
    float: right;
    font-style: italic;
    /*font-size: 25px;
    color: blue;*/
}

.username{
    /*float: right;*/
    font-size: 30px;
    color: darkgreen;
}


p{
    font-size: 25px;
    color:blue;
}

p[name = username]{
    margin: 0px 0px 0px 0px;
    text-align: right;
    color: green;
    font-size: 25px;
}

p[name = sem2]{
    margin: 10px 0px 0px 0px;
    text-align: right;
    color: blue;
    font-size: 20px;
}

p[name = noexam]{
    /*margin: 0px 0px 0px 0px;*/
    text-align: center;
    color: blue;
    font-size: 25px;
}

p[name = course]{
    /*margin: 0px 0px 0px 0px;*/
    text-align: center;
    color: blue;
    font-size: 25px;
}

p[name = role]{
    margin: 0px 0px 0px 0px;
    text-align: right;
    color: green;
    font-size: 20px;
}

p[name = quiz]{
    margin: 0px 0px 0px 0px;
    text-align: center;
    color: green;
    font-size: 20px;
}

.role{
    font-size: 25px;
    color: green;   
}

tr:nth-child(even) {
    background-color: white;
    /*background-image: url("images/background5.png");*/
}

tr:nth-child(odd) {
    background-color: aliceblue;
    /*background-image: url("images/background6.png");*/
}

tr:hover {
    background-color: cornsilk;
    /*background-image: url("images/background7.png");*/
    /*opacity: 0.8;*/
}

tr {
    /*padding: 20px;*/
    margin-bottom: 10px;
}

h2{
	color: blue;
}

input[class=wtage]{
    width: 20%;
    padding: 8px 5px;
    font-size: 15px;
    /*margin: 8px 100px 10px 0px;*/
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

input[class=exam]{
    width: 20%;
    padding: 12px 10px;
    font-size: 20px;
    /*margin: 8px 100px 10px 0px;*/
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}


input[name=username]{
    width: 27%;
    padding: 12px 10px;
    margin: 8px 100px 10px 0px;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

input[name=password]{
    width: 27%;
    padding: 12px 10px;
    margin: 8px 100px 10px 0px;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
input[name=password1]{
    width: 27%;
    padding: 12px 10px;
    margin: 8px 100px 10px 0px;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
input[name=password2]{
    width: 27%;
    padding: 12px 10px;
    margin: 8px 100px 10px 0px;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

/*input[name=repassword]{
    width: 27%;
    padding: 12px 10px;
    margin: 8px 150px 10px 0px;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}*/

button[name = gen_button] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0px;
    margin: 8px 0px 20px 0px;
    cursor: pointer;
    font-size: 15px;
    width: 10%;
}

button[name = wt_button] {
    background-color: #4CAF50;
    color: white;
    padding:8px 10px;
    margin: 8px 0px 20px 0px;
    cursor: pointer;
    font-size: 15px;
    width: 15%;
}

button[name = del_button] {
    background-color: red;
    color: white;
    padding: 5px 10px;
    /*margin: 8px 0px 20px 0px;*/
    cursor: pointer;
    font-size: 15px;
    /*width: 10%;*/
}

img.game{
    width: 40%;
    border-radius: 25%;
}

/*.container {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}*/
.error{
    color:red;
    font-size: 15px;
}
